@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  scroll-behavior: inherit;

  --xr-font-1: "Inter", sans-serif;
  --xr-font-2: "Space Grotesk", sans-serif;
  --xr-font-3: 'Thunder';

  --xr-clr-pr-1: #FD3F00;
  --xr-clr-pr-2: #FFDD5E;

  --xr-clr-sd-2: #777EFF;

  --sk-clr-black-1: #050221;

  --sk-clr-white-1: #EBEBEB;

  --xr-clr-gray-1: #ECECEC;

  --sk-clr-gd-1: linear-gradient(92.62deg, #EA9354 0.03%, #8D40D7 54.05%, #863AEB 99.97%);

  --xr-cube-1: all .4s cubic-bezier(.18,.82,.41,1);

  
}

$over: "(min-width: 1800px)";
$xxxl: "only screen and (min-width: 1600px) and (max-width: 1799px)";
$xxl: "only screen and (min-width: 1400px) and (max-width: 1599px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xs: "(max-width: 767px)";
