/* 
    button-start
*/

.xr-offcanvas-btn-1 {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 7px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(9px);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    transition: var(--xr-cube-1);

    &:hover {
        background: var(--xr-clr-pr-1);
    }
}



.xr-pr-btn-1 {
    font-family: var(--xr-font-2);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.01em;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    background: var(--xr-clr-pr-1);
    border-radius: 6px;
    color: #fff;
    transition: var(--xr-cube-1);
    position: relative;
    z-index: 1;
    padding: 6px;
    padding-left: 24px;

    .icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            transform: scaleX(-1);
        }
    }


    &::after {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        background: #000;
        border-radius: 4px;
        z-index: -1;
        transition: var(--xr-cube-1);
    }

    &:hover {
        color: var(--xr-clr-pr-1);
        &::after {
            width: calc(100% - 12px);
        }
    }
    
}


/* 
    button-end
*/