/* 
    typography-start
*/

.xr-p-1 {
    font-family: var(--xr-font-1);
    font-weight: 400;
    font-size: 18px;
    color: #000;
    line-height: 1.555;
    margin-bottom: 0;
}

.xr-p-2 {
    font-family: var(--xr-font-1);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 1.555;
    opacity: 80%;
    margin-bottom: 0;
}

.xr-p-3 {
    font-family: var(--xr-font-2);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 1.555;
    margin-bottom: 0;

    &:is(.has-black) {
        color: #000;
        opacity: 80%;
    }
}

.xr-h-1 {
    font-family: var(--xr-font-2);
    font-weight: 500;
    color: #000;
    line-height: 1.272;
    margin-bottom: 0;
}

.xr-h-2 {
    font-family: "ThunderSemBd";
    font-weight: 600;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.xr-h-3 {
    font-family: var(--xr-font-4);
    font-weight: 700;
    color: #fff;
    line-height: 1.055;
    margin-bottom: 0;
}


.xr-subtitle-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 17px;

    &-number {
        color: var(--xr-clr-pr-1);

        span {
            margin: 0 4px;
            color: #000;
        }
    }

    &-marquee {
        max-width: 90px;
        mask-image: url(../img/vector/subtitle-1-masking.png);
        mask-size: 100% 100%;
        display: inline-flex;
    }

    .marquee-text {
        display: flex;
        gap: 20px;
        margin-right: 20px;
        &-single {
            font-size: 15px;
            letter-spacing: -0.01em;
            position: relative;
            z-index: 1;
            flex: 0 0 auto;

            &::after {
                content: "";
                width: 4px;
                height: 4px;
                background-color: #000;
                border-radius: 50%;
                position: absolute;
                top: 9px;
                right: -13px;
                opacity: 40%;
            }
        }
    }
    
    
}


.xr-subtitle-3 {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    flex: 0 0 auto;

    &-number {
        font-family: var(--xr-font-2);
        color: #fff;
        width: 28px;
        height: 28px;
        background-color: rgb(255 255 255 / 20%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 0;
    }

    &-line {
        height: 1px;
        width: 76px;
        background: #fff;
        border-radius: 30px;
        opacity: 32%;
    }

    &-text {
        font-family: var(--xr-font-2);
        color: #fff;
        background: radial-gradient(136.29% 136.29% at 50% 50%, #000000 0%, #054ECF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -2%;
        display: inline-flex;
        align-items: center;
        gap: 7px;
        padding: 6px 20px;

        .dot-elm {
            width: 16px;
            height: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: rgb(239 49 191 / 22%);
            border-radius: 50%;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: var(--xr-clr-pr-3);
                z-index: 1;
                border-radius: 50%;
                animation: wa-fade-in-out 3s linear infinite forwards;
            }
        }
        
    }

    &:is(.has-black) {

        .xr-subtitle-3-number {
            background-color: #fff;
            color: #000;
        }

        .xr-subtitle-3-line {
            background: #000;
        }

        .xr-subtitle-3-text {
            background: radial-gradient(136.29% 136.29% at 50% 50%, #ECECEC 0%, #054ECF 100%) ;
            color: #000;
        }
        
    }
}



.xr-sec-title-1 {
    font-family: var(--xr-font-2);
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -0.02em;
    line-height: 1.071;
    color: #000;
    margin-bottom: 0;

    @media #{$xxl} {
        font-size: 52px;
    }

    @media #{$xl} {
        font-size: 48px;
    }

    @media #{$lg} {
        font-size: 42px;
    }

    @media #{$md} {
        font-size: 38px;
    }

    @media #{$xs} {
        font-size: 30px;
    }

    @media #{$sm} {
        font-size: 34px;
    }
}

.xr-sec-title-2 {
    font-family: "ThunderSemBd";
    font-weight: 600;
    color: #fff;
    line-height: 1;
    font-size: 100px;
    margin-bottom: 0px;

    span {
        display: inline;
        opacity: 72%;
    }

    @media #{$xxl} {
        font-size: 90px;
    }

    @media #{$xl} {
        font-size: 80px;
    }

    @media #{$lg} {
        font-size: 70px;
    }

    @media #{$md} {
        font-size: 60px;
    }

    @media #{$xs} {
        font-size: 40px;
    }

    @media #{$sm} {
        font-size: 50px;
    }
}

.xr-sec-title-3 {
    font-family: var(--xr-font-4);
    color: #fff;
    font-weight: 700;
    letter-spacing: -2%;
    font-size: 72px;
    line-height: 1.055;
    margin-bottom: 0;

    span {
        opacity: 40%;
        display: inline;
    }

    @media #{$xxl} {
        font-size: 60px;
    }

    @media #{$xl} {
        font-size: 55px;
    }

    @media #{$lg} {
        font-size: 50px;
    }

    @media #{$md} {
        font-size: 45px;
    }

    @media #{$xs} {
        font-size: 35px;
    }

    @media #{$sm} {
        font-size: 40px;
    }


    &:is(.has-black) {
        color: #000;
    }
}
/* 
    typography-end
*/

