/* 
    typography-start
*/

.xr-p-1 {
    font-family: var(--xr-font-1);
    font-weight: 400;
    font-size: 18px;
    color: #000;
    line-height: 1.555;
    margin-bottom: 0;
}

.xr-h-1 {
    font-family: var(--xr-font-2);
    font-weight: 500;
    color: #000;
    line-height: 1.272;
    margin-bottom: 0;
}


.xr-subtitle-1 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 17px;

    &-number {
        color: var(--xr-clr-pr-1);

        span {
            margin: 0 4px;
            color: #000;
        }
    }

    &-marquee {
        max-width: 90px;
        mask-image: url(../img/vector/subtitle-1-masking.png);
        mask-size: 100% 100%;
        display: inline-flex;
    }

    .marquee-text {
        display: flex;
        gap: 20px;
        margin-right: 20px;
        &-single {
            font-size: 15px;
            letter-spacing: -0.01em;
            position: relative;
            z-index: 1;
            flex: 0 0 auto;

            &::after {
                content: "";
                width: 4px;
                height: 4px;
                background-color: #000;
                border-radius: 50%;
                position: absolute;
                top: 9px;
                right: -13px;
                opacity: 40%;
            }
        }
    }
    
    
}


.xr-sec-title-1 {
    font-family: var(--xr-font-2);
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -0.02em;
    line-height: 1.071;
    color: #000;
    margin-bottom: 0;

    @media #{$xxl} {
        font-size: 52px;
    }

    @media #{$xl} {
        font-size: 48px;
    }

    @media #{$lg} {
        font-size: 42px;
    }

    @media #{$md} {
        font-size: 38px;
    }

    @media #{$xs} {
        font-size: 30px;
    }

    @media #{$sm} {
        font-size: 34px;
    }
}




/* 
    typography-end
*/

