/* 
    choose-1-start
*/
.xr-choose-1 {


    &-sec-title {
        max-width: 790px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 64px;
        position: relative;
        z-index: 1;
        align-items: center;

        @media #{$xl,$lg} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-single {
            background-color: #fff;
            border-radius: 16px;
            padding: 36px 36px;
            display: flex;
            gap: 24px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 36px 20px;
            }


            .icon-elm {
                flex: 0 0 auto;
                width: 60px;
                height: 60px;
                background: linear-gradient(180deg, #ECECEC 0%, #FFFFFF 100%);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 26px;
                position: relative;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 10px;
                    background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 100%);
                    padding: 1px;
                    z-index: 1;
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                }
            }

            .title {
                font-weight: 700;
                margin-bottom: 13px;
                font-size: 26px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }
            

            .disc {
                opacity: 80%;
            }
        }

        &-bg-shape {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 48%;
            z-index: -1;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }


            svg  {
                transform-origin: center center;
            }

            .group-1 {
                transform-origin: center center;
                rect {
                    transform-origin: center center;
                }
            }

            .group-2 {
                transform-origin: center center;

                rect {
                    transform-origin: center center;
                }
            }
        }
    }
    

    &-img-bg {
        border: 8px solid rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(8.5px);
        border-radius: 30px;
        margin-top: -8px;
    }

    &-img {
        width: 100%;
        height: 450px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ECECEC;

        &-single {
            border-radius: 30px;
            height: 100%;
        }

        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .xr-choose-1-img-single {
                        &:is(.has-left-slide) {
                            animation: slide-in-left 1s backwards;
                        }
                        &:is(.has-right-slide) {
                            animation: slide-in-right 1s backwards;
                        }
                        &:is(.has-top-slide) {
                            animation: slide-in-top 1s backwards;
                        }
                        &:is(.has-bottom-slide) {
                            animation: slide-in-bottom 1s backwards;
                        }
                    } 
                }
            }
        }
    }


    &-disc {
        max-width: 720px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        opacity: 80%;
        margin-bottom: 95px;
    }

    &-bg-line {
        width: 100%;
        height: 15px;
    }
}



/* 
    choose-1-end
*/