/* 
    choose-1-start
*/
.xr-choose-1 {


    &-sec-title {
        max-width: 790px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 64px;
        position: relative;
        z-index: 1;
        align-items: center;

        @media #{$xl,$lg} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-single {
            background-color: #fff;
            border-radius: 16px;
            padding: 36px 36px;
            display: flex;
            gap: 24px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 36px 20px;
            }


            .icon-elm {
                flex: 0 0 auto;
                width: 60px;
                height: 60px;
                background: linear-gradient(180deg, #ECECEC 0%, #FFFFFF 100%);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                position: relative;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 10px;
                    background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 100%);
                    padding: 1px;
                    z-index: 1;
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                }
            }

            .title {
                font-weight: 700;
                margin-bottom: 13px;
                font-size: 26px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }
            

            .disc {
                opacity: 80%;
            }
        }

        &-bg-shape {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 48%;
            z-index: -1;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: none;
            }


            svg  {
                transform-origin: center center;
            }

            .group-1 {
                transform-origin: center center;
                rect {
                    transform-origin: center center;
                }
            }

            .group-2 {
                transform-origin: center center;

                rect {
                    transform-origin: center center;
                }
            }
        }
    }
    

    &-img-bg {
        border: 8px solid rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(8.5px);
        border-radius: 30px;
        margin-top: -8px;
    }

    &-img {
        width: 100%;
        height: 450px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ECECEC;

        &-single {
            border-radius: 30px;
            height: 100%;
        }

        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .xr-choose-1-img-single {
                        &:is(.has-left-slide) {
                            animation: slide-in-left 1s backwards;
                        }
                        &:is(.has-right-slide) {
                            animation: slide-in-right 1s backwards;
                        }
                        &:is(.has-top-slide) {
                            animation: slide-in-top 1s backwards;
                        }
                        &:is(.has-bottom-slide) {
                            animation: slide-in-bottom 1s backwards;
                        }
                    } 
                }
            }
        }
    }


    &-disc {
        max-width: 720px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        opacity: 80%;
        margin-bottom: 95px;
    }

    &-bg-line {
        width: 100%;
        height: 15px;
    }
}



/* 
    choose-1-end
*/


/* 
    choose-3-start
*/

.xr-choose-3 {
    &-sec-title {
        display: flex;
        gap: 20px 130px;
        align-items: start;


        @media #{$xl,$lg,$md,$xs} {
            gap: 20px 30px;
            flex-wrap: wrap;
        }


        .xr-sec-title-3 {
            max-width: 855px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1.4fr;
        gap: 12px;
        align-items: start;


        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        background-color: #fff;
        border-radius: 12px;
        padding: 8px;
    }

    &-video {
        height: 168px;
        border-radius: 12px;
        overflow: hidden;
    }
    

    &-counter {
        padding: 18px 36px;
        margin-bottom: 40px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding: 18px 6px;
        }

        .number-x-title {
            display: flex;
            align-items: center;
            gap: 13px;
            border-bottom: 1px solid #D9D9D9;
            padding-bottom: 18px;
            margin-bottom: 30px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                flex-wrap: wrap;
            }
        }

        
        .number {
            font-size: 108px;
            flex: 0 0 auto;
            color: #CECECE;
            line-height: 1;
            font-weight: 500;
            opacity: 1;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 80px;
            }

            .odometer {
                color: #000;
            }
            
        }

        .title {
            color: #000;
            opacity: 1;
        }

        .disc {
            color: #000;
            opacity: 80%;
        }
    }
    

    &-rating {
        display: flex;
        flex-direction: column;
        background-color: #000;
        border-radius: 12px;
        padding: 24px 32px;
        gap: 100px;
        margin-bottom: 8px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding: 24px 22px;
        }

        .author-x-rating {
            display: flex;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .author {
            display: flex;

            &-img {
                width: 52px;
                height: 52px;
                border-radius: 8px;
                border: 2px solid #000;

                &:is(.has-text) {
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .text-elm {
                        color: #000;
                        font-weight: 500;
                        opacity: 500;
                    }
                }

                &:not(:first-child) {
                    margin-left: -15px;
                }
            }
        }


        .rating {
            &-icon {
                color: #fff;
                font-size: 14px;
            }

            &-text {
                font-size: 16px;
                color: #fff;
                opacity: 68%;
            }
        }
        

        .percent-x-disc {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media #{$xl,$lg,$md,$xs} {
                flex-wrap: wrap;
            }
        }


        .percent-number {
            font-size: 60px;
            line-height: 1;
            font-weight: 400;
            margin-bottom: -4px;

            .odometer {
                font-weight: 700;
            }
        }
        
        .disc-elm {
            font-size: 20px;
            max-width: 270px;
            text-align: right;
        }
    }

    &-support {
        background: #ECECEC;
        border-radius: 10px;
        padding: 23px 18px;

        .icon {
            text-align: center;
            transform-origin: center center;
            margin-bottom: 18px;
        }

        .title {
            font-size: 24px;
            color: #000;
            font-weight: 500;
        }

        .disc {
            font-size: 16px;
            letter-spacing: -0.01em;
            color: #666666;
        }
    }

    &-middle {
        .inner-div {
            background-color: #fff;
            border-radius: 12px;
            display: grid;
            gap: 18px;
            grid-template-columns: 2.5fr 1fr;
            padding: 4px;
            padding-left: 15px;
            align-items: center;

            @media #{$lg,$md,$xs} {
                grid-template-columns: 1fr;
            }
        }
    }

    &-progress {
        &-box {
            .title {
                color: #000;
                font-size: 22px;
                opacity: 32%;
                margin-bottom: 19px;
            }
        }

        overflow: hidden;
        
        &-single {
            height: 48px;
            background: rgb(10 10 10 / 4%);
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            font-weight: 500;
            color: var(--nm-clr-h-4);

            &:not(:first-child) {
                margin-top: -7px;
            }

            &:nth-child(2) {
                background: #E5E4E4;
            }

            &:nth-child(3) {
                background: #000;
                color: #ffff;
            }
            &:nth-child(4) {
                background: #E7E7E7;
            }
        }
    }

 
    &-features {
        min-height: 516px;
        border-radius: 12px;
        padding: 40px 44px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding: 40px 24px;
        }

        .title {
            letter-spacing: -2%;
            font-size: 48px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 38px;
            }
        }

        .features-list {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            gap: 16px;

            li {
                display: flex;
                align-items: center;
                gap: 8px;

                i {
                    color: #10ECB0;
                }
            }
        }
    }
    

}







/* 
    choose-3-end
*/