/* 
    faqs-1-start
*/
.xr-faqs-1 {
    &-area {
        background-color: #000;
        border-radius: 40px 40px 0 0 ;

        .xr-line-shape {
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            z-index: -1;
        }
    }

    &-wrap {
        margin-left: -80px;
        margin-right: -80px;
        display: grid;
        grid-template-columns: 1fr 1.65fr;
        gap: 100px;
        align-items: start;

        @media #{$xxxl} {
            margin-left: 0px;
            margin-right: 0px;
        }

        @media #{$xxl} {
            margin-left: 0px;
            margin-right: 0px;
            gap: 50px;
        }

        @media #{$xl} {
            margin-left: 0px;
            margin-right: 0px;
            gap: 50px;
        }

        @media #{$lg,$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }

    &-left {
        background-color: #1D1D1D;
        border-radius: 30px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding: 40px 40px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .bg-shape-1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .bg-shape-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        &-title {
            text-align: center;
            color: #fff;
            font-size: 44px;
            font-weight: 700;
            margin-bottom: 18px;
            line-height: 1;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 25px;
            }
        }
    }


    &-sec-title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .xr-subtitle-1 {
            align-self: flex-start;
            &-number {
                span {
                    margin: 0 4px;
                    color: #fff;
                }
            }

            .marquee-text-single {
                color: #fff;

                &::after {
                    background-color: #fff;
                }
            }
        }


        .xr-sec-title-1 {
            color: #fff;
            font-size: 44px;
            max-width: 700px;

            @media #{$lg} {
                font-size: 42px;
            }
        
            @media #{$md} {
                font-size: 38px;
            }
        
            @media #{$xs} {
                font-size: 30px;
            }
        
            @media #{$sm} {
                font-size: 34px;
            }
        }
    }


    &-tabs {
        display: grid;
        gap: 75px;
        grid-template-columns: 1fr 2.89fr;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }

        &-pane {
            height: 292px;
            border-radius: 16px;
            border: 3px solid #373737;
            overflow: hidden;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                max-width: 400px;
            }

            .tab-pane {
                width: 100%;
                height: 100%;
            }
            &-img {
                width: 100%;
                height: 100%;
            }
        }

        &-btn {
            &-table {
                &-title {
                    border-bottom: 1px solid var(--xr-clr-pr-1);
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 18px;
                    padding-bottom: 10px;
                    margin-bottom: 1px;
                }
            }
        }

        &-btn {
            .nav-link {
                width: 100%;
                text-align: left;
                background-color: transparent;
                color: #fff;
                position: relative;
                z-index: 1;
                border-bottom: 1px solid rgb(255 255 255 / 32%);
                padding: 24px 0;
                transition: var(--xr-cube-1);
                margin-top: -1px;
                display: grid;
                grid-template-columns: 49% 1fr auto;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    border-radius: 10px;
                    background-color: #373737;
                    opacity: 0;
                    transition: var(--xr-cube-1);
                }

                span {
                    transition: var(--xr-cube-1);
                    &:nth-child(2) {
                        opacity: 80%;
                    }
                    &:nth-child(3) {
                        opacity: 80%;
                    }
                }

                &:hover {
                    border-color: transparent;
                    &::after {
                        transform: scaleX(1.1);
                        opacity: 1;
                    }
                    span {
                        opacity: 1;
                    }
                }
            }
        }
    }

}



.xr-accordion {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-item {
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        border: 1px solid transparent;

        .item-title {
            font-size: 18px;
            background: transparent;
            color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            gap: 4px;
            padding: 15px 18px;
            text-align: left;
            transition: 0.2s;
    


            .text {
                opacity: .4;
                transition: var(--xr-cube-1);
            }


            .icon {
                width: 20px;
                height: 20px;
                background: rgb(255 255 255 / 6%);
                font-size: 12px;
                color: var(--xr-clr-pr-1);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                margin-left: auto;
                transition:  var(--xr-cube-1);

                i {
                    transition: .5s;
                }
            }
    
            &:is(:not(.collapsed)) {
                .icon {
                    background: var(--xr-clr-pr-1);
                    color: #fff;

                    i {
                        &::before {
                            content: "\f068";
                        }
                    }
                }

            }

            &:is(.collapsed) {
                &:hover {
                }
            }

        }
        
        .item-disc {
            margin: 0 18px;
            padding-bottom: 21px;
            padding-top: 15px;
            color: #fff;
            font-size: 16px;
            opacity: 80%;
            border-top: 1px dashed transparent;

            a {
                color: #fff;
                transition: all .5s var(--as-cube-1);
                &:hover {
                    color: var(--as-clr-pr-1);
                }
            }

        }

        .accordion-collapse {
            &:is(.show) {
                .item-disc {
                    border-color: rgb(255 255 255 / 30%);
                }
            }
        } 

        &:is(.active) {
            border-color: rgba(255, 255, 255, 32%);
        }

    }
    
}



/* 
    faqs-1-end
*/

/* 
    faqs-2-start
*/
.xr-faqs-2 {
    &-wrap {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1.19fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-content {
        .sec-disc {
            max-width: 541px;
            margin-bottom: 33px;
        }

        .sec-title {
            margin-bottom: 8px;
        }
    }
    
    &-right {
        .xr-accordion {
            gap: 8px;
            &-item {
                border: 1px solid rgb(255 255 255 / 32%);
                background-color: transparent;
                .item-title {
                    opacity: 1;
    
                    .text {
                        font-family: var(--xr-font-3);
                        color: var(--xr-clr-sd-3);
                        opacity: 1;
                        font-weight: 600;
                        margin-bottom: -4px;
                    }
                }
    
                &:is(.active) {
                    border: 1px solid rgb(255 255 255 / 0%);
                    background-color: #202020;
                }
            }
        }
    }
}

/* 
    faqs-2-end
*/