/* 
    footer-1-start
*/
.xr-footer-1 {
    &-area {
        background-color: #000;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
    }

    &-contact {
        .title {
            color: #fff;
            font-size: 48px;
            font-weight: 700;
            opacity: 48%;
            margin-bottom: 8px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }

        .link-elm {
            color: #fff;
            font-size: 56px;
            line-height: 1;
            letter-spacing: -0.02em;
            margin-bottom: 37px;
            transition: var(--xr-cube-1);

            @media #{$xl,$lg,$md,$xs} {
                font-size: 28px;
            }

            &:hover {
                color: var(--xr-clr-pr-1);
            }
        }

        .disc {
            color: #fff;
            opacity: 80%;
            max-width: 550px;
            margin-bottom: 41px;

            @media #{$xl,$lg,$md,$xs} {
                max-width: 300px;
            }
        }
    }



    &-link {
        max-width: 648px;
        width: 100%;

        @media #{$lg} {
            max-width: 488px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            li {
                line-height: 1;

                a {
                    color: #fff;
                    font-family: var(--xr-font-1);
                    font-size: 20px;
                    line-height: 1;
                    display: flex;
                    border-bottom: 1px solid rgb(255 255 255 / 28%);
                    padding: 23px 0px;
                    transition: var(--xr-cube-1);

                    span {
                        transition: var(--xr-cube-1);

                        &:nth-child(1) {
                            opacity: 40%;
                            font-size: 18px;
                            min-width: 35px;
                        }
                    }

                    i {
                        transition: var(--xr-cube-1);
                        opacity: 72%;
                        margin-left: auto;
                    }

                    &:hover {
                        border-bottom: 1px solid var(--xr-clr-pr-1);

                        
                        span {
                            &:nth-child(1) {
                                opacity: 1;
                            }
                            &:nth-child(2) {
                                color: var(--xr-clr-pr-1);
                            }
                        }

                        i {
                            opacity: 1;
                        }
                    }
                }


                &:nth-child(1) {
                    a {
                        border-top: 1px solid rgb(255 255 255 / 28%);

                    }
                }
            }
        }
    }

    &-logo-x-video {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }
    }

    &-video {
        width: 492px;
        height: 220px;
        border-radius: 12px;
    }
    
    
    &-logo {
        color: #fff;
        font-weight: 700;
        font-size: 310px;
        line-height: .75;
        letter-spacing: -0.04em;

        @media #{$xxl} {
            font-size: 210px;
        }

        @media #{$xl} {
            font-size: 180px;
        }

        @media #{$lg} {
            font-size: 140px;
        }

        @media #{$md} {
            font-size: 150px;
        }

        @media #{$xs} {
            font-size: 50px;
        }

        @media #{$sm} {
            font-size: 90px;
        }
    }


    &-bottom {
        display: flex;
        border-top: 1px solid rgb(255 255 255 / 32%);
        gap: 30px;
        justify-content: space-between;
        padding: 24px 0;

        @media #{$xs} {
            flex-wrap: wrap;
        }
    }
    
    &-copyright {
        color: rgb(255 255 255 / 72%);
        font-size: 16px;

        a {
            color: var(--xr-clr-pr-1);
        }
    }
    
    &-social {
        display: flex;
        gap: 10px 28px;
        flex-wrap: wrap;

        a {
            color: #fff;
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 8px;
            transition: var(--xr-cube-1);

            &:hover {
                color: var(--xr-clr-pr-1);
                opacity: 1;
            }
        }
    }

    
    
}
/* 
    footer-1-end
*/
/* 
    footer-2-start
*/
.xr-footer-2 {
    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
    }

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }
    

    &-contact {
        display: flex;
        flex-direction: column;
        gap: 22px;

        .link-elm {
            transition: var(--xr-cube-1);
            &:hover {
                opacity: 1;
                color: var(--xr-clr-pr-2);
            }
            &:nth-child(2) {
                opacity: 1;
                font-size: 36px;
            }
        }
    }
    
    &-copyright {
        opacity: 1;
        color: rgb(255 255 255 / 80%);

        a {
            color: var(--xr-clr-sd-3);
            transition: var(--xr-cube-1);

            &:hover {
                color: var(--xr-clr-pr-2);
            }
        }
    }
    

    &-right {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: space-between;

        &-inner {
            display: flex;
            gap: 50px 120px;
            
            @media #{$xs} {
                flex-wrap: wrap;
            }
        }
    }
    

    &-widget {
        &-title {
            font-size: 15px;
            letter-spacing: 6%;
            color: var(--xr-clr-pr-2);
            margin-bottom: 18px;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 12px;

            li {
                a {
                    font-family: var(--xr-font-1);
                    color: #fff;
                    font-size: 18px;
                    line-height: 1;
                    transition: var(--xr-cube-1);

                    &:hover {
                        color: var(--xr-clr-pr-2);
                    }
                }
            }
        }
        
    }

    &-link {
        display: flex;
        justify-content: end;
        gap: 12px 24px;
        flex-wrap: wrap;
        li {
            a {
                font-family: var(--xr-font-1);
                font-size: 18px;
                line-height: 1;
                color: #fff;
                opacity: 72%;
                transition: var(--xr-cube-1);

                &:hover {
                    opacity: 1;
                    color: var(--xr-clr-pr-2);
                }
            }
        }
    }


    &-social {
        max-width: 416px;
        width: 100%;

        @media #{$xl,$lg,$md,$xs} {
            max-width: 256px;
        }

        &-single {
            border: 1px solid #3B3C3D;
            position: relative;
            z-index: 1;
            margin-bottom: -1px;



            .text-elm {
                text-align: center;
                font-size: 44px;
                font-weight: 500;
                opacity: 1;
                color: rgb(255 255 255 / 45%);
                padding: 31px 10px;
                display: block;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 26px;
                }
            }

            &:hover {
                .xr-footer-2-social-marquee-active {
                    opacity: 1;
                }
            }


            &-marquee {
                gap: 45px;
                display: flex;
                margin-right: 45px;
    
                .marquee-elm {
                    display: flex;
                    align-items: center;
                    font-size: 44px;
                    font-weight: 600;
                    gap: 45px;
                    opacity: 1;
                    flex: 0 0 auto;

                    @media #{$xl,$lg,$md,$xs} {
                        font-size: 26px;
                    }
    
                    i {
                        font-size: 40px;
                        margin-top: -3px;

                        @media #{$xl,$lg,$md,$xs} {
                            font-size: 22px;
                        }

                        &:is(.fa-facebook-f) {
                            background: linear-gradient(45deg, #1674EA);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        &:is(.fa-instagram) {
                            background: linear-gradient(45deg, #FFD600 8.39%, #FF0100 50%, #D800B9 91.61%);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        &:is(.fa-x-twitter) {
                            background: linear-gradient(45deg, #72BFED);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        &:is(.fa-linkedin-in) {
                            background: linear-gradient(45deg, #0073AF);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }


        &-marquee {
            &-active {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                width: 1940px;
                height: 100%;
                background: #212121;
                border-top: 1px solid #FF0100;
                border-bottom: 1px solid #FFD600;
                display: flex;
                opacity: 0;
                transition: var(--xr-cube-1);
                pointer-events: none;


                @media #{$xxl} {
                    width: 1600px;
                }

                @media #{$xl} {
                    width: 1400px;
                }

                @media #{$lg} {
                    width: 1800px;
                }

                @media #{$md} {
                    width: 1200px;
                }

                @media #{$xs} {
                    display: none;
                }

                div {
                    display: flex;
                }
            }

        }
        
        
        
    }


    &-bg {
        &-man-1 {
            width: 58%;
            position: absolute;
            bottom: 0;
            left: -36%;
            z-index: -3;

            @media #{$xs} {
                display: none;
            }
        }

        &-man-2 {
            width: 58%;
            position: absolute;
            bottom: 0;
            right: -30%;
            z-index: -3;
            text-align: right;

            @media #{$xs} {
                display: none;
            }
        }

        &-noise-1 {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;
            width: 39%;
        }

        &-noise-2 {
            position: absolute;
            right: 0;
            bottom: 0;
            text-align: right;
            z-index: -2;
            width: 38%;
        }
        
    }
    
    
}




/* 
    footer-2-end
*/

/* 
    footer-3-start
*/
.xr-footer-3 {
    &-top {
        background-color: #000;
        border-radius: 32px;
    }

    &-cta {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 30px;
        flex-wrap: wrap;

        &-title {
            font-size: 92px;
            font-family: var(--xr-font-2);
            font-weight: 500;
            letter-spacing: -3%;
            max-width: 600px;
            line-height: 1.2;
        }

        &-btn {
            flex: 0 0 auto;
            max-width: 664px;
            width: 100%;
            margin-bottom: 20px;

            .xr-pr-btn-3 {
                background: #2754E9;
                width: 100%;
                justify-content: center;
                box-shadow: inset 0px 0px 12px rgba(255, 255, 255, 0.4);
                padding: 28px 20px;

                .icon {
                    width: auto;
                    height: auto;
                    background: transparent;

                    i {
                        -webkit-text-fill-color: #fff;
                    }
                }
            }
        }
    }
    

    &-wrap {
        display: flex;
        gap: 160px;
        flex-wrap: wrap;


    }

    &-widget {
        &:last-child {
            margin-left: auto;
            max-width: 420px;
            width: 100%;
        }

        &-title {
            font-size: 22px;
            letter-spacing: -3%;
            color: #fff;
            font-family: var(--xr-font-2);
            line-height: 1;
            margin-bottom: 18px;
        }
    }
    
    &-social {
        display: flex;
        gap: 8px;

        .single-link {
            width: 56px;
            height: 56px;
            background-color: #212121;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: #fff;
            font-size: 18px;
        }
    }
    

    
    &-menu {
        max-width: 330px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 12px 8px;


            li {
                font-family: var(--xr-font-2);
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                transition: var(--xr-cube-1);
                opacity: 80%;

                &:not(:last-child) {
                    &::after {
                        content: "/";
                        margin-left: 5px;
                    }
                }


                &:hover {
                    opacity: 1;
                    color: var(--xr-clr-pr-3);
                }
            }
        }
    }
    

    &-contact {
        max-width: 250px;


        .title-elm {
            font-family: var(--xr-font-2);
            font-size: 14px;
            color: #fff;
            letter-spacing: -3%;
            opacity: 60%;
            font-weight: 400;
            margin-bottom: 6px;
        }

        .link-elm {
            font-family: var(--xr-font-2);
            color: #fff;
            line-height: 1.3;
            font-size: 22px;
            letter-spacing: -3%;
            transition: var(--xr-cube-1);

            &:hover {
                color: var(--xr-clr-pr-3);
            }
        }

        .content-box {
            margin-bottom: 22px;
        }


        
        
    }
    
    &-menu-2 {
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            li {

                &:nth-child(1) {
                    a {
                        border-top: 1px solid rgb(255 255 255 / 24%);
                    }
                }

                a {
                    padding: 20px 0px;
                    font-family: var(--xr-font-2);
                    color: #fff;
                    opacity: 80%;
                    line-height: 1;
                    font-size: 16px;
                    letter-spacing: -3%;
                    border-bottom: 1px solid rgb(255 255 255 / 24%);
                    width: 100%;
                    transition: var(--xr-cube-1);

                    &:hover {
                        color: var(--xr-clr-pr-3);
                        opacity: 1;
                    }
                }

            }
        }
    }
    
    
}
/* 
    footer-3-end
*/