/*
    15. header
*/

/* 
    header-1-start
*/
.xr-header-1 {
    &-area {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo-x-btn {
        display: flex;
        background: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.16);
        backdrop-filter: blur(12px);
        border-radius: 8px;
        padding: 14px 18px;
        align-items: center;
        gap: 30px;
        max-width: 436px;
        width: 100%;
        justify-content: space-between;

        
        @media #{$xl,$lg,$md,$xs} {
            width: auto;
        }
    }

    &-join-btn {
        color: rgb(255 255 255 / 80%);
        display: flex;
        align-items: center;
        gap: 28px;
        font-size: 15px;
        max-width: 178px;
        line-height: 1.2;
        transition: var(--xr-cube-1);

        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }

        i {
            font-size: 34px;
            color: var(--xr-clr-pr-1);
            transition: var(--xr-cube-1);
        }

        &:hover {
            color: var(--xr-clr-pr-1);

            i {
                transform: rotate(45deg);
            }
        }
        
    }


    &-action-link {
        background: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.16);
        backdrop-filter: blur(12px);
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0px 8px;
        padding-left: 18px;

        @media #{$md,$xs} {
            padding: 8px;
        }

        .xr-pr-btn-1 {
            font-weight: 500;
            gap: 12px;
            border-radius: 6px;
            padding: 4px;
            padding-left: 16px;

            @media #{$xs} {
                @media #{$xs} {
                    display: none;
                }
                @media #{$sm} {
                    display: inline-flex;
                }
            }

            &::after {
                width: 36px;
                height: 36px;
                right: 4px;
                border-radius: 4px;
            }

            .icon {
                width: 36px;
                height: 36px;
            }

            &:hover {
                &::after {
                    width: calc(100% - 8px);
                }
            }
        }
    }
    

    &-menu {
        transition: var(--xr-cube-1);
        width: 0px;
        overflow: hidden;

        > ul {
            transform: translateX(10px);
            opacity: 0;
            transition:  var(--xr-cube-1);
            flex-wrap: nowrap;
            transition-delay: 0s;
            visibility: hidden;
        }


        &:is(.show) {
            overflow: visible;
            margin-left: 0px;
            width: 424px;

            > ul {
                transform: translateX(0px);
                opacity: 1;
                transition-delay: .3s;
                visibility: visible;
            }
        }
    }

    &-menu-toggle-btn {
        width: 24px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        margin-right: 20px;

        span {
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: var(--xr-cube-1);
        }

        &:hover {
            span {
                background: var(--xr-clr-pr-1)
            }
        }

        &:is(.active) {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translateY(5px) translateX(5px);
                }
                &:nth-child(2) {
                    transform: rotate(-45deg) translateY(-4px) translateX(3px);
                }
            }
        }

        @media #{$md,$xs} {
            display: none;
        }
    }

    
}



.xr-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 40px;

        li {
            flex: 0 0 auto;
            transition: .6s var(--xr-cube-2);
            
            a {
                position: relative;
                z-index: 1;
                font-family: var(--xr-font-1);
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                text-decoration: none;
                color: #fff;
                padding: 18px 0;
                display: inline-flex;
                align-items: center;
                transition: .6s var(--xr-cube-2);
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 18px;

                    &::before {
                        display: block;
                        content: "\f103";
                        font-family: "Font Awesome 6 free";
                        font-weight: 700;
                        position: absolute;
                        font-size: 15px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--xr-clr-pr-1);
                    opacity: 1;
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 0px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                position: absolute;
                background: #000;
                border: 1px solid rgba(255, 255, 255, 0.16);
                backdrop-filter: blur(12px);
                border-radius: 8px;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px);
                transform-origin: top;
                transition: .6s var(--xr-cube-2);

            
                li {
                    display: block;
                    margin: 0;
                    transition: var(--xr-cube-1);
    
                    &::after {
                        display: none;
                    }

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                        font-size: 16px;
                        color: #fff;
                        opacity: 1;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        background: var(--xr-clr-pr-1);
                        > a {
                            color: #fff;
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/


/* 
    header-2-start
*/
.xr-header-2 {
    &-area {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-wrap {
        display: flex;
        align-items: center;

        &-right {
            background: rgba(255, 255, 255, 0.08);
            border-width: 1px 1px 1px 0px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.16);
            backdrop-filter: blur(10px);
            border-radius: 12px;
            padding-right: 8px;
            padding-left: 28px;
            display: flex;
            align-items: center;
            gap: 55px;

            @media #{$md,$xs} {
                padding: 7px 10px;
                width: 100%;
                justify-content: end;
            }
        }
    }
    
    &-logo {
        width: 60px;
        height: 60px;
        background-color: #E4D969;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
    }
    

    &-action-link {
        display: flex;
        align-items: center;

        .xr-available-btn {
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-flex;
            }
        }

    }


    &-social {
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: -130px;


        @media #{$xxxl,$xxl,$xl} {
            margin-right: 0px;
        }

        @media #{$lg,$md,$xs} {
            display: none;
        }

        .link-elm {
            transition: var(--xr-cube-1);
            border-radius: 50%;


            &:nth-child(1) {
                &:hover {
                    box-shadow: 2px 4px 11px rgba(255, 149, 0, 0.7);
                }
            }

            &:nth-child(2) {
                &:hover {
                    box-shadow: 2px 4px 11px rgba(24, 100, 218, 0.7);
                }
            }

            &:nth-child(3) {
                &:hover {
                    box-shadow: 2px 4px 11px rgba(32, 206, 99, 0.7);
                }
            }

            &:nth-child(4) {
                &:hover {
                    box-shadow: 2px 4px 11px rgba(244, 67, 54, 0.7);
                }
            }

        }
    }
    
}

.xr-main-navigation {
    &:is(.xr-header-2-menu) {
        ul {
            li {
                position: relative;
                z-index: 1;

                &:not(:last-child) {
                    &::after {
                        content: "";
                        width: 5.5px;
                        height: 2px;
                        background-color: var(--xr-clr-sd-2);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -23px;
                    }
                }

                a {
                    font-family: var(--xr-font-3);
                    font-size: 20px;
                    padding: 14px 0;
                    letter-spacing: 0.04em;
                }


                &:is(.dropdown) {
                    > a {
                        padding-right: 15px;

                        &::before {
                            content: "\f107";
                            font-size: 12px;
                            top: 46%;
                        }
                    }
                }

                &:hover {
                    > a {
                        color: var(--xr-clr-pr-2);
                    }
                }

                .dropdown-menu {
                    li {
                        a {
                            font-size: 18px;
                        }

                        &:hover {
                            > a {
                                background-color: var(--xr-clr-pr-2);
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* 
    header-2-end
*/
/* 
    header-3-start
*/
.xr-header-3 {
    &-area {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-wrap {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    &-action {
        &-link {
            display: flex;
            align-items: center;
            margin-left: auto;

            .xr-pr-btn-3 {
                font-family: var(--xr-font-2);
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -4%;
                padding: 13px 20px;

                @media #{$xs} {
                    display: none;
                }

                @media #{$sm} {
                    display: inline-flex;
                }

                &::after {
                    display: none;
                }
            }
        }
    }
}


.xr-main-navigation {
    &:is(.xr-header-3-menu) {
        .navbar-nav {
            gap: 0;
            li {
                background: rgba(0, 0, 0, 0.32);
                backdrop-filter: blur(10.5px);
                border-radius: 100px;
                padding: 0 20px;
                
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    background: var(--xr-clr-gd-3);
                    inset: 0;
                    z-index: -1;
                    transition: var(--xr-cube-1);
                    opacity: 0;
                }

                a {
                    font-family: var(--xr-font-2);
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: -2%;
                    padding: 8.5px 0;
                }


                &:is(.dropdown) {
                    > a {
                        padding-right: 14px;

                        &::before {
                            font-size: 10px;
                        }
                    }
                }


                &:hover {
                    &::after {
                        opacity: 1;
                    }
                    > a {
                        color: #fff;
                    }

                    .dropdown-menu {
                        li {
                            animation: fadeInUp .2s ease-in backwards;
    
                            @for $i from 1 through 20 {
                                &:nth-child(#{$i}) {
                                    animation-delay: #{($i * 70)}ms;
                                }
                            }
                        }
                    }

                }

                .dropdown-menu {
                    border: none;
                    background: transparent;
                    padding-top: 10px;

                    li {
                        padding: 0 30px;
                        background-color: #3B4451;

                        &::after {
                            display: block;
                        }
                        a {
                            padding: 10px 0px;
                        }

                        &:is(.dropdown) {
                            a {
                                &::before {
                                    right: 0;
                                }
                            }
                        }

                        &:hover {
                            background-color: #3B4451;
                        }

                        .dropdown-menu {
                            padding-top: 0;
                        }
                    }
                    

                }
            }
        }
    }

}
/* 
    header-3-end
*/

/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/