/* 
    hero-1-start
*/
.xr-hero-1 {
    &-area {
        position: relative;
        padding-bottom: 71px;
        z-index: 1;

        .xr-line-shape {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-radius: 0 0 40px 40px;
            background: #000;
            padding-bottom: 2px;
            z-index: -1;

            .single-line {
                width: 100%;
                height: 85px;
                background: transparent;
                border-radius: 40px;
                border-bottom: 6px solid #ffff;
                border-top: none;
        
                &:nth-child(1) {
                    margin-bottom: -69px;
                }
        
                &:nth-child(2) {
                    border-bottom: 7px solid #ffff; 
                    margin-top: 0px;
                    margin-bottom: -69px;
                }
        
                &:nth-child(3) {
                    border-bottom: 8px solid #ffff; 
                    margin-top: 0px;
                    margin-bottom: -70px;
                }
        
                &:nth-child(4) {
                    border-bottom: 9px solid #ffff; 
                    margin-top: 0px;
                    margin-bottom: -69px;
                }
        
                &:nth-child(5) {
                    border-bottom: 10px solid #ffff; 
                    margin-top: 0px;
                }
            }
        }
    }

    &-main {
        position: relative;
        padding-top: 215px;
        z-index: 2;
        overflow: hidden;
        border-radius: 0 0 35px 34px;
        background-color: #000;

        @media #{$md} {
            padding-bottom: 330px;
        }

        @media #{$xs} {
            padding-bottom: 330px;
            padding-top: 150px;
        }

        @media #{$sm} {
            padding-bottom: 330px;
            padding-top: 215px;
        }
    }

    &-bg-shape-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        .line-shape {
            width: 88px;
            height: 100%;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
            // backdrop-filter: blur(10px);
            // -webkit-backdrop-filter: blur(10px);
            transform: rotate(30deg) scaleY(1.25);
            flex: 0 0 auto;
            &:nth-child(1) {
                margin-left: -10px;
            }
        }
    }

    &-bg-shape-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -3;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;


        .circle-shape-1 {
            width: 1100px;
            height: 1100px;
            border-radius: 50%;
            // background: radial-gradient(50% 50% at 50% 50%, #000000 0%, #FD3F00 25%, #FDAD00 50%, #3859FE 75%, #000000 100%);
            background: radial-gradient(50% 50% at 50% 50%, #000000 38.46%, #FD3F00 55.29%, #FDAD00 70.19%, #3859FE 83.65%, #000000 100%);
      
            filter: blur(20px);
        }

        &:is(.active) {
            animation: xr-hero-1-circle-kf 5s linear infinite;
        }
    }

    &-author {
        position: absolute;
        right: 55px;
        bottom: 120px;
        border-radius: 14px;
        border: 5px solid transparent;
        z-index: 1;
        max-width: 276px;
        

        @media #{$md,$xs} {
            right: 15px;
            bottom: 10px;
        }

        .big-img {
            height: 186px;
            border: 10px;
            background: rgba(255, 255, 255, 0.14);
            backdrop-filter: blur(12px);
            border-radius: 10px;
            padding: 5px;

            img {
                border-radius: 10px;
            }

            video {
                border-radius: 10px;
            }
        }

        .img-x-text {
            background: rgba(255, 255, 255, 0.14);
            backdrop-filter: blur(12px);
            border-radius: 10px;
            padding: 5px;

            &-flex {
                display: flex;
                background: rgba(255, 255, 255, 0.14);
                backdrop-filter: blur(12px);
                border-radius: 10px;
                padding: 10px;
                gap: 8px;
                align-items: center;
            }
        }
        
        .author-img {
            display: flex;
            align-items: center;

            &-single {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid #434343;
                transition: var(--xr-cube-1);

                &:not(:first-child) {
                    margin-left: -15px;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .disc {
            color: rgb(255 255 255 / 80%);
            b {
                color: #fff;
                font-weight: 500;
            }
        }
        
    }

    &-top {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 160px;

        @media #{$md,$xs} {
            margin-bottom: 50px;
        }

        &-disc {
            color: #fff;
            border-top: 1px solid rgb(255 255 255 / 36%);
            padding-top: 20px;
            max-width: 374px;
            font-size: 20px;
            margin-bottom: 28px;
        }
    }

    &-features-list {
        display: flex;
        flex-direction: column;
        align-items: end;
        align-self: start;
        gap: 13px;

        li {
            color: #fff;
            opacity: 72%;
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: 400;
            transition: var(--xr-cube-1);

            i {
                transition: 1s;
            }

            &:is(.active) {
                opacity: 1;
                color: var(--xr-clr-pr-1);
                i {
                    color: #fff;
                    transform: rotate(360deg);
                }
            }
        }
    }
    

    &-circle-btn {
        width: 100px;
        height: 100px;
        background: var(--xr-clr-pr-1);
        box-shadow: inset 0px 0px 10px #FFFFFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        .btn-icon {
            position: absolute;
            width: 44px;
            height: 44px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        

        .circle-text {
            animation: wa-rotated 10s linear infinite;
        }
    }


    &-title {
        display: flex;
        flex-direction: column;
        margin-bottom: -20px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-bottom: 0px;
        }

        &-1 {
            font-size: 224px;
            font-weight: 700;
            letter-spacing: -0.04em;
            line-height: .8;
            color: #fff;
            mix-blend-mode: exclusion;

            @media #{$xxl} {
                font-size: 194px;
            }

            @media #{$xl} {
                font-size: 164px;
                line-height: 1;
            }

            @media #{$lg} {
                font-size: 144px;
                line-height: 1;
            }

            @media #{$md} {
                font-size: 120px;
                line-height: 1;
            }

            @media #{$xs} {
                font-size: 60px;
                line-height: 1;
            }

            @media #{$sm} {
                font-size: 100px;
                line-height: 1;
            }
        }

        &-2 {
            font-size: 128px;
            font-weight: 700;
            color: #fff;
            letter-spacing: -0.04em;
            margin-left: auto;
            line-height: 1;
            @media #{$xxl} {
                font-size: 110px;
            }
            @media #{$xl} {
                font-size: 98px;
            }
            @media #{$lg} {
                font-size: 75px;
            }
            @media #{$md} {
                font-size: 65px;
            }
            @media #{$xs} {
                font-size: 30px;
            }
            @media #{$sm} {
                font-size: 45px;
            }
        }
        
    }
    
    &-img {
        position: absolute;
        bottom: 0;
        right: 18%;
        z-index: -1;
        width: 38%;
        max-width: 726px;

        @media #{$xxxl,$xxl,$xl} {
            width: 52%;
        }

        @media #{$lg} {
            right: 8%;
            width: 58%;
        }

        @media #{$md,$xs} {
            right: 8%;
            width: 70%;
        }

        img {
            width: 100%;
        }

    }

    &-active {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        padding: 14px 54px;

        @media #{$xs} {
            display: none;
        }

        .bg-shape {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .disc {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 4px;

            .dot-shape {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                position: relative;
                z-index: 1;
                background-color: rgb(52 199 89 / 12%);

                &::after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #34C759;
                    border-radius: 50%;
                    animation: heroActiveDotKf 1s linear infinite;
                }
            }
        }
    }
    
    
}


@keyframes heroActiveDotKf {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes xr-hero-1-circle-kf {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: scale(6);
        opacity: 0;
    }
}
/* 
    hero-1-end
*/
/* 
    hero-2-start
*/
.xr-hero-2 {
    &-area {
        padding-top: 230px;
        position: relative;
        z-index: 1;
        padding-bottom: 140px;
        background-color: #212121;

        @media #{$lg,$md,$xs} {
            padding-top: 160px;
            padding-bottom: 0;
        }


        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    &-subtitle {
        font-weight: 500;
        font-family: 'ThunderMed';
        font-size: 110px;
        letter-spacing: 0;
        margin-bottom: -15px;


        span {
            color: var(--xr-clr-pr-2);
        }

        @media #{$xxl} {
            font-size: 90px;
        }

        @media #{$xl} {
            font-size: 80px;
        }

        @media #{$lg} {
            font-size: 70px;
        }

        @media #{$md} {
            font-size: 60px;
        }

        @media #{$xs} {
            font-size: 40px;
        }

        @media #{$sm} {
            font-size: 50px;
        }
        
    }

    &-title {
        display: inline-block;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 73%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 220px;
        text-transform: uppercase;
        letter-spacing: 0;
        font-family: 'ThunderSemBd';
        margin-bottom: 150px;

        @media #{$xxl} {
            font-size: 190px;
        }

        @media #{$xl} {
            font-size: 180px;
        }

        @media #{$lg} {
            font-size: 170px;
        }

        @media #{$md} {
            font-size: 160px;
        }

        @media #{$xs} {
            font-size: 100px;
            margin-bottom: 20px;
        }

        @media #{$sm} {
            font-size: 150px;
            margin-bottom: 20px;
        }
    }

    &-disc {
        max-width: 586px;
        margin-left: 274px;

        @media #{$xs} {
            margin-left: 0;   
        }
    }

    &-title-2 {
        font-size: 220px;
        letter-spacing: 0;
        text-transform: uppercase;

        @media #{$xxl} {
            font-size: 190px;
        }

        @media #{$xl} {
            font-size: 180px;
        }

        @media #{$lg} {
            font-size: 170px;
        }

        @media #{$md} {
            font-size: 140px;
        }

        @media #{$xs} {
            font-size: 100px;
        }

        @media #{$sm} {
            font-size: 150px;
        }
    }


    &-video {
        width: 226px;
        height: 226px;
        mask-size: 100% 100%;
        margin-top: 16px;

        video {
            transform: scale(2);
        }
    }


    &-bg-content {
        position: absolute;
        inset: 0;
        z-index: -3;

        @media #{$xs} {
            position: unset;
        }
        
        &-box {
            margin-top: 500px;


            @media #{$xxl} {
                margin-top: 465px;
            }

            @media #{$xl} {
                margin-top: 460px;
            }

            @media #{$lg} {
                margin-top: 365px;
            }

            @media #{$md} {
                margin-top: 345px;
            }

            @media #{$xs} {
                margin-top: 0px;
            }

            .inner-box {
                display: flex;
                gap: 45px;

                @media #{$xs} {
                    flex-wrap: wrap;
                }
            }
        }
    }

    &-bg-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: end;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            position: unset;
        }

        &-box {
            display: flex;
            justify-content: end;
        }

        &-single {
            margin-bottom: -17px;
            margin-right: -100px;
            width: 86%;
            position: relative;
            z-index: 1;

            @media #{$lg,$md,$xs} {
                margin-right: 0px;
            }

            img {
                &:nth-child(2) {
                    position: absolute;
                    right: 0;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                    mix-blend-mode: color;
                    z-index: 1;
                }
            }

        }


    }


    &-right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        text-align: center;
        width: 100%;
        max-width: 312px;
        background: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(10px);
        background-size: 100% 100%;
        padding-top: 160px;

        @media #{$xxl,$xl} {
            max-width: 282px;
        }

        @media #{$lg,$md,$xs} {
            position: relative;
            max-width: 100%;
            padding: 50px 20px;
            z-index: 1;
        }

        &-line {
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 100%;
        }

        .xr-pr-btn-2 {
            &:hover {
                .icon {
                    i {
                        transform: unset;
                    }
                }
            }
        }
    }



    
    
    &-counter {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 62px;
        margin-bottom: 84px;

        @media #{$lg,$md,$xs} {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }

        &-item {
            display: inline-block;
            max-width: 200px;

            .title {
                position: relative;
                z-index: 1;
                font-size: 112px;
                letter-spacing: 0;
                display: inline-flex;
                align-items: center;
                gap: 8px;
                margin-bottom: -20px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 62px;
                }


                .number {
                    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 73%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
                .plus {
                    font-size: 80px;
                    color: #F3B1E1;
                    margin-top: -20px;

                    @media #{$xxl,$xl,$lg,$md,$xs} {
                        font-size: 30px;
                        margin-top: 0;
                    }
                }
            }

            .disc {
                opacity: 1;
                margin-top: -10px;
            }
            

            &:nth-child(2) {
                .title {
                    .plus {
                        color: var(--xr-clr-pr-2);
                    }
                }
            }

            &:nth-child(3) {
                .title {
                    .plus {
                        color: #F35F36;
                    }
                }
            }
        }
    }

    &-glow-marquee {
        position: absolute;
        bottom: -240px;
        left: 0;
        width: 100%;
        pointer-events: none;

        &-wrap {
            display: flex;
        }
        
        &-elm {
            flex: 0 0 auto;
        }
    }
    
}


.xr-hero-2-area {
    &:hover {
        .xr-hero-2-bg-img-single img:nth-child(2) {
            opacity: 1;
            animation: xr-hero-2-img-filter 3s linear infinite;
        }
    }
}

@keyframes xr-hero-2-img-filter {
    0% {
        filter: sepia(1)hue-rotate(0deg)saturate(300%);
    }
    5% {
        filter: sepia(1)hue-rotate(10deg)saturate(300%);
    }
    10% {
        filter: sepia(1)hue-rotate(20deg)saturate(300%);
    }
    15% {
        filter: sepia(1)hue-rotate(30deg)saturate(300%);
    }
    20% {
        filter: sepia(1)hue-rotate(40deg)saturate(300%);
    }
    25% {
        filter: sepia(1)hue-rotate(50deg)saturate(300%);
    }
    30% {
        filter: sepia(1)hue-rotate(60deg)saturate(300%);
    }
    35% {
        filter: sepia(1)hue-rotate(70deg)saturate(300%);
    }
    40% {
        filter: sepia(1)hue-rotate(80deg)saturate(300%);
    }
    45% {
        filter: sepia(1)hue-rotate(90deg)saturate(300%);
    }    
    50% {
        filter: sepia(1)hue-rotate(100deg)saturate(300%);
    }
    55% {
        filter: sepia(1)hue-rotate(110deg)saturate(300%);
    }
    60% {
        filter: sepia(1)hue-rotate(120deg)saturate(300%);
    }
    65% {
        filter: sepia(1)hue-rotate(130deg)saturate(300%);
    }
    70% {
        filter: sepia(1)hue-rotate(140deg)saturate(300%);
    }
    75% {
        filter: sepia(1)hue-rotate(150deg)saturate(300%);
    }
    80% {
        filter: sepia(1)hue-rotate(160deg)saturate(300%);
    }
    85% {
        filter: sepia(1)hue-rotate(170deg)saturate(300%);
    }
    90% {
        filter: sepia(1)hue-rotate(180deg)saturate(300%);
    }
    95% {
        filter: sepia(1)hue-rotate(190deg)saturate(300%);
    }
    100% {
        filter: sepia(1)hue-rotate(200deg)saturate(300%);
    }
}

/* 
    hero-2-end
*/

/* 
    hero-3-start
*/
.xr-hero-3 {
    &-bg-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            filter: blur(51px);
        }
    }




    &-title {
        &-text {
            font-size: 340px;
            font-weight: 800;
            letter-spacing: -3%;
            background: linear-gradient(166deg, #FFFFFF 36%, #EF31BF 59%, #1E8AC8 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin-bottom: -25px;

            @media #{$xxl} {
                font-size: 290px;
            }

            @media #{$xl} {
                font-size: 260px;
            }

            @media #{$lg} {
                font-size: 220px;
            }

            @media #{$md} {
                font-size: 180px;
                margin-bottom: 0;
            }

            @media #{$xs} {
                font-size: 80px;
                margin-bottom: 0;
            }

            @media #{$sm} {
                font-size: 150px;
            }


            background-size: 300% 300%;
            animation: waveGradient 6s ease-in-out infinite;
        }
    }
    
    &-subtitle {
        font-size: 66px;
        letter-spacing: -4%;
        margin-bottom: 80px;
        span {
            color: var(--xr-clr-pr-3);
        }
        

        @media #{$xxl} {
            font-size: 60px;
        }

        @media #{$xl} {
            font-size: 55px;
        }

        @media #{$lg} {
            font-size: 50px;
        }

        @media #{$md} {
            font-size: 45px;
        }

        @media #{$xs} {
            font-size: 35px;
        }

        @media #{$sm} {
            font-size: 40px;
        }
    }
    
    &-disc {
        max-width: 320px;
        margin-left: 41.56vw;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-left: 0;
        }
    }

    &-support {
        max-width: 336px;
        width: 100%;

        .icon-elm {
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: radial-gradient(50% 50% at 50% 50%, #054ECF 0%, #000000 100%);
            border-radius: 8px;
            color: #fff;
            font-size: 24px;
            position: absolute;
            top: 0;
            left: 0;
        }


        &-inner {
            mask-size: 100% 100%;
            display: flex;
            align-items: end;
            background-color: #000;
            padding: 27px 30px;

            .bg-glow-1 {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            .bg-glow-2 {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
            }

            .content-wrap {
                text-align: right;
                max-width: 170px;
                margin-left: auto;
            }

            .title {
                font-size: 28px;
                text-transform: uppercase;
                letter-spacing: -2%;
                margin-bottom: 14px;
            }

            .disc {
                line-height: 1.3;
            }


            .img-elm {
                width: 100%;
                max-width: 119px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
            
        }
    }
    

    &-item {
        padding-top: 157px;
        padding-bottom: 255px;

        @media #{$md,$xs} {
            padding-top: 150px;

        }

        &-img {
            text-align: right;
            position: absolute;
            right: -104px;
            bottom: -13px;
            width: 55%;
            z-index: 1;
            pointer-events: none;
        }


        &-card-x-btn {
            position: absolute;
            bottom: 32px;
            right: 0;
            width: 100%;
            z-index: 1;

            

            &-flex {
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 160px;
                padding-right: 130px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    gap: 50px;
                    padding-right: 0px;
                    flex-wrap: wrap;
                    justify-content: start;
                }
            }
            
        }
    }


    &-btn {
        width: 132px;
        height: 132px;
        border: 1px solid #fff;
        border-radius: 50%;
        font-family: var(--xr-font-2);
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 18px;
        position: relative;
        z-index: 1;
        transition: .5s var(--xr-cube-2);

        .bg-clr {
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            background: var(--xr-clr-gd-3);
            border-radius: 50%;
            z-index: -1;
            transition: .5s var(--xr-cube-2);
        }

        &:hover {
            color: #fff;
            border-color: transparent;
            .bg-clr {
                width: 100%;
                height: 100%;
                bottom: 0;
            }
        }
    }
    


    &-slider {
        &-preview {
            height: 276px;
            &-single {
                width: 88px;
                height: 88px;
                position: relative;
                z-index: 1;
                padding: 6px;
                cursor: pointer;

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 50%;
                    background: var(--xr-clr-gd-3);
                    padding: 2px;
                    z-index: -1;
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    transition: var(--xr-cube-1);
                }

                .number {
                    position: absolute;
                    right: 6px;
                    top: 6px;
                    font-size: 12px;
                    font-weight: 700;
                    background-color: #2754E9;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    outline: 2px solid #3D3937;
                }

                .img-elm {
                    background-color: rgb(0 0 0 / 32%);
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
    

    &-sidebar {
        position: absolute;
        right: 38px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        text-align: center;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;

        @media #{$md,$xs} {
            display: none;
        }
    }
    
    
    &-scroll-down {
        width: 72px;
        height: 64px;
        border-radius: 0 0 60px 60px;
        background-color: rgb(0 0 0 / 12%);
        border-bottom: 1px solid #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
    &-social {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        margin-top: 40px;
        margin-bottom: 15px;

        .title {
            writing-mode: sideways-lr;
            margin: 0;
            font-size: 18px;
        }

        &-link {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .single-link {
                width: 40px;
                height: 40px;
                background-color: #000;
                border-radius: 50%;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
            }
        }
    }
    
}


.xr-hero-3 {
    &-title {
        opacity: 0;
        transform: translateY(50px);
        transition: 1s var(--xr-cube-2);
    }
    &-subtitle {
        opacity: 0;
        transform: translateY(50px);
        transition: 1s var(--xr-cube-2);
    }
    &-disc {
        opacity: 0;
        transform: translateY(50px);
        transition: 1s var(--xr-cube-2);
    }
    &-item-card-x-btn {
        opacity: 0;
        transform: translateY(50px);
        transition: 1s var(--xr-cube-2);
    }

    &-item-img {
        opacity: 0;
        transform: translateX(50%);
        transition: 1s var(--xr-cube-2);
    }
    &-slider {
        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .xr-hero-3 {
                        &-title {
                            opacity: 1;
                            transform: translateY(0px);
                            transition-delay: .5s;
                        }
                        &-subtitle {
                            opacity: 1;
                            transform: translateY(0px);
                            transition-delay: .7s;
                        }
                        &-disc {
                            opacity: 1;
                            transform: translateY(0px);
                            transition-delay: .9s;
                        }
                        &-item-card-x-btn {
                            opacity: 1;
                            transform: translateY(0px);
                            transition-delay: 1.1s;
                        }
                    
                        &-item-img {
                            opacity: 1;
                            transform: translateX(0%);
                            transition-delay: 1s;
                        }
                    }
                }
            }
        }

        &-preview {
            &-single {
                &::after {
                    transition: var(--xr-cube-1);
                    opacity: 0;
                }
            }

            .swiper-wrapper {
                .swiper-slide {
                    &:is(.swiper-slide-thumb-active) {
                        .xr-hero-3-slider-preview-single::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@keyframes waveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 
    hero-3-end
*/