/* 
    projects-1-start
*/
.xr-projects-1 {
    &-area {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding-bottom: 100px;
        }
    }
    &-sec-title {
        .img-elm {
            width: 256px;
            height: 104px;
            border-radius: 8px;
        }

        .row-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            @media #{$xs} {
                flex-wrap: wrap;
            }
        }

        .title-elm {
            font-size: 120px;
            line-height: 1;
            opacity: 28%;
            letter-spacing: -0.01em;

            @media #{$xxl} {
                font-size: 100px;
            }

            @media #{$xl} {
                font-size: 90px;
            }

            @media #{$lg} {
                font-size: 80px;
            }

            @media #{$md} {
                font-size: 70px;
            }

            @media #{$xs} {
                font-size: 40px;
            }

            @media #{$sm} {
                font-size: 60px;
            }
        }


        .row-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            @media #{$xs} {
                flex-wrap: wrap;
            }
            
            .title-elm {
                opacity: 1;
            }
        }
    }
    
    &-wrap {
        overflow: hidden;
    }

    &-number {
        position: absolute;
        top: 100px;
        left: 100px;
        z-index: 1;
        display: flex;
        gap: 6px;
        z-index: 2;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            display: none;
        }

        .single-number {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: #fff;
            opacity: 64%;
            transition: var(--xr-cube-1);

            &:is(.active) {
                background-color: #fff;
                color: #000;
                opacity: 1;
            }
        }
    }

    &-big-img {
        width: 100%;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        @media #{$xxl,$xl,$lg,$md,$xs} {
            display: none;
        }


        &-single {
            top: 0;
            left: 0;
            position: absolute;
            // opacity: 0;
            // transition: 1.5s;
            height: 100%;
            width: 100%;
            transform-origin: bottom;

            &:is(.active) {
                opacity: 1;
            }

            &:nth-child(1) {
                z-index: 1;
            }

            &:nth-child(2) {
                z-index: -2;
            }

            &:nth-child(3) {
                z-index: -3;
            }

            &:nth-child(4) {
                z-index: -4;
            }
        }
    }

    &-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 520px;
        height: 436px;
        overflow: hidden;
        background-color: #fff;
        border-radius: 20px;
        z-index: 2;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            position: unset;
            transform: unset;
            height: auto;
            max-width: 100%;
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 20px;
            background: transparent;
        }
        
        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                justify-content: center;
                flex-direction: row;
            }
        }

        &-single {
            background-color: #fff;
            border-radius: 20px;
            padding: 5px;
            height: 436px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                position: unset;
                opacity: 1;
                transform: unset;
                max-width: 350px;
                height: auto;

            }
            
            .img-elm {
                height: 185px;
                border-radius: 16px;
            }

            .content-wrap {
                background-color: #ECECEC;
                border-radius: 16px;
                padding: 30px 28px;
            }


            .tags-list {
                display: flex;
                gap: 4px;
                flex-wrap: wrap;
                margin-bottom: 14px;

                li {
                    font-size: 14px;
                    color: rgb(0 0 0 / 68%);
                    background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 100%);
                    border-radius: 5px;
                    padding: 4px 16px;
                    position: relative;
                    z-index: 1;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 5px;
                        background: linear-gradient(180deg, #ECECEC 0%, #FFFFFF 100%);
                        padding: 1px;
                        z-index: 1;
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        mask-composite: exclude;
                    }
                }
            }


            .title {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 13px;
                transition: var(--xr-cube-1);

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }

                &:hover {
                    color: var(--xr-clr-pr-1);
                }
            }


            .disc {
                opacity: 80%;
            }
        }
    }
}


@media #{$over,$xxxl} {
    .xr-projects-1-height {
        position: relative;
        z-index: 1;
    }
    
    .xr-projects-1-pin {
        position: sticky;
        top: 0;
    }  
}


/* 
    projects-1-end
*/

/* 
    projects-2-start
*/
.xr-projects-2 {
    &-sec-title {
        font-family: var(--xr-font-3);
        text-align: center;
        font-size: 168px;
        letter-spacing: 0;

        &:is(.has-2) {
            text-align: right;

            @media #{$lg,$md,$xs} {
                text-align: center;
            }
        }

        &:is(.has-1) {
            margin-bottom: 20px;

            @media #{$over,$xxxl,$xxl} {
                transform: translateX(30px);
            }

        }


        @media #{$xxl} {
            font-size: 130px;
        }

        @media #{$xl} {
            font-size: 107px;
        }

        @media #{$lg} {
            font-size: 110px;
        }

        @media #{$md} {
            font-size: 100px;
        }

        @media #{$xs} {
            font-size: 60px;
        }

        @media #{$sm} {
            font-size: 80px;
        }
    }

    &-top {
        margin-bottom: 70px;


        @media #{$over,$xxxl,$xxl} {
            transform: translateX(-80px);
        }

        &-inner {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            gap: 50px;

            @media #{$lg,$md,$xs} {
                grid-template-columns: 1fr;  
            }
        }
    }

    &-content {
        max-width: 426px;
        margin-left: 101px;

        @media #{$lg,$md,$xs} {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .disc {
            margin-bottom: 33px;
        }
    }


    &-counter {
        width: 203px;
        height: 188px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: 70px;
        margin-top: 12px;

        @media #{$lg,$md,$xs} {
            margin-right: auto;
        }

        .line-shape {
            position: absolute;
            width: 100%;
            inset: 0;
        }

        .number {
            color: var(--xr-clr-pr-1);
            margin-bottom: -10px;
            margin-top: 16px;
            font-size: 68px;
            font-family: var(--xr-font-3);
            letter-spacing: 0;
        }
    }
    
    &-gallery {
        position: relative;
        z-index: 1;
        width: 320px;
        height: 360px;
        perspective: 2000px;



        @media #{$lg,$md,$xs} {
            margin-left: auto;
            margin-right: auto;
        }

        @media #{$xs} {
            width: 220px;
            height: 260px;
        }

        @media #{$sm} {
            max-width: 320px;
            height: 360px;
        }

        &-img {
            width: 100%;
            max-width: 320px;
            height: 360px;
            transition: .5s;
            transform-style: preserve-3d;
            will-change: transform;

            @media #{$xs} {
                width: 220px;
                height: 260px;
            }

            @media #{$sm} {
                max-width: 320px;
                height: 360px;
            }

            &-ani {
                position: absolute;
                inset: 0;
                z-index: -4;
        
                &:nth-child(1) {
                    z-index: 1;
                    .xr-projects-2-gallery-img {
                        transform: rotate(-6deg);
                    }
                }
                &:nth-child(2) {
                    z-index: -1;
                    .xr-projects-2-gallery-img {
                        transform: rotate(5deg);
                    }
                }
        
                &:nth-child(3) {
                    z-index: -2;
                    .xr-projects-2-gallery-img {
                        transform: rotate(11deg);
                    }
                }
                &:nth-child(4) {
                    z-index: -3;
                    .xr-projects-2-gallery-img {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 2.05fr 1fr;
        gap: 8px;
        align-items: start;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .elm-col {
            display: grid;
            gap: 8px;
        }
    }

    &-card {
        background: #212121;
        border-radius: 12px;
        padding: 8px;

        .card-img {
            height: 686px;
            border-radius: 8px;

            @media #{$md,$xs} {
                height: 386px;
            }

            img {
                transition: 1s var(--xr-cube-2);
            }
        }
        

        .content-wrap {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 25px;
            padding-bottom: 17px;
            padding-left: 16px;
            padding-right: 16px;
        }

        .title {
            font-size: 40px;
            max-width: 420px;
            transition:  var(--xr-cube-1);


            &:hover {
                color: var(--xr-clr-pr-2);
            }

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 30px;
            }
        }
        

        .item-tags {
            display: flex;
            align-self: end;
            gap: 4px;
            flex-wrap: wrap;

            li {
                color: var(--xr-clr-sd-2);
                opacity: 1;
                font-size: 14px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(0, 0, 0, 0) 100%);
                border-radius: 6px;
                position: relative;
                z-index: 1;
                padding: 4px 12px;
                transition:  var(--xr-cube-1);


                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 6px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.16) 100%);
                    padding: 1px;
                    z-index: -1;
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                }

                &:hover {
                    color: var(--xr-clr-pr-2);
                }
            }
        }

        &:hover {
            .card-img {
                img {
                    transform: scale(1.1);
                }
            }
        }

        &:is(.has-v2) {
            .card-img {
                height: 306px;
            }
            .title {
                font-size: 28px;
                max-width: 230px;
            }

            .content-wrap {
                padding-top: 20px;
                padding-bottom: 10px;
            }
        }
        
    }
    
    &-wrap-2 {
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
        margin-top: 8px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        &:is(.has-v3) {
            .card-img {
                height: 625px;

                @media #{$xxl,$xl,$lg,$md} {
                    height: 425px;
                }

                @media #{$xs} {
                    height: 325px;
                }
            }
            .title {
                max-width: 358px;

            }


        }
    }
}



/* 
    projects-2-end
*/

/* 
    projects-3-start
*/
.xr-projects-3 {
    &-area {
        background-color: #000;
        margin-top: -72px;
        
    }

    &-sec-title {
        display: flex;
        align-items: start;
        gap: 20px 120px;
        justify-content: space-between;

        @media #{$xxl,$xl} {
            gap: 20px 50px;
        }

        @media #{$lg,$md,$xs} {
            flex-wrap: wrap;
        }

        .xr-sec-title-3 {
            max-width: 740px;
        }
        
        .btn-wrap {
            align-self: center;
            flex: 0 0 auto;
        }
    }


    &-card {
        position: relative;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-single {
            &:not(:first-child) {

                @media #{$over,$xxxl,$xxl,$xl} {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                }


            }
        }

        &-single {
            display: grid;
            grid-template-columns: 1fr 1.69fr;
            transform-origin: left bottom;

            @media #{$lg} {
                grid-template-columns: 1fr 1.3fr;
            }

            @media #{$md,$xs} {
                grid-template-columns: 1fr;
            }

            .content-wrap {
                background-color: #222222;
                border-radius: 28px;
                padding: 44px;
                display: flex;
                flex-direction: column;

                @media #{$xl,$lg,$md,$xs} {
                    padding: 44px 20px;
                }

                .bg-glow-1 {
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: -1;
                }
                
                .bg-glow-2 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .title {
                font-size: 40px;
                margin-bottom: 19px;
                transition: var(--xr-cube-1);

                &:hover {
                    color: var(--xr-clr-pr-3);
                }

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 30px;
                }
            }

            .disc {
                opacity: 80%;
                margin-bottom: 36px;
            }

            .features-list {
                li {
                    font-weight: 500;
                    display: flex;
                    justify-content: space-between;
                    padding: 14px 0;

                    span:nth-child(2) {
                        font-weight: 400;
                        opacity: 80%;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid rgb(255 255 255 / 32%);
                    }
                }
            }

            .btn-elm {
                margin-top: auto;
            }
            .xr-pr-btn-3 {
                width: 100%;
                justify-content: center;
                border-radius: 10px;
                padding: 20px 15px;
                background: #000;

                &::after {
                    border-radius: 10px;
                }
            }

            .img-elm {
                border-radius: 28px;
                height: 640px;

                @media #{$lg,$md} {
                    height: 500px;
                }

                @media #{$xs} {
                    height: 350px;
                }
    
                img {
                    transition: 1s var(--xr-cube-2);
                }
            }

            &:hover {
                .img-elm {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    
    
    
    &-pin {
        @media #{$over,$xxxl,$xxl,$xl} {
            position: sticky;
            top: 150px;
        }
    }
}

/* 
    projects-3-end
*/