/* 
    services-1-start
*/
.xr-services-1 {
    &-area {
        background-color: #000;
        border-radius: 40px;

        .xr-line-shape {
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            z-index: -1;
        }
    }

    &-sec-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .xr-subtitle-1 {
            flex: 0 0 auto;
            align-self: flex-start;

            &-number {
                span {
                    color: #fff;
                }
            }

            .marquee-text-single {
                color: #fff;
                &::after {
                    background-color: #fff;
                }
            }

        }
        .xr-sec-title-1 {
            color: #fff;
            max-width: 735px;
        }
        .btn-wrap {
            flex: 0 0 auto;
        }
    }
}


.xr-services-1-accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-item {
        width: 100%;
        background: rgba(255, 255, 255, 0.12);
        box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(6px);
        border-radius: 20px;
        padding: 10px;

        .item-title {
            display: flex;
            background: transparent;
            width: 100%;
            gap: 35px;

            @media #{$over,$xxxl} {
                padding: 0;
                padding-left: 26px;
            }

            .number {
                color: var(--xr-clr-pr-1);
                font-size: 16px;
                flex: 0 0 auto;

                &-count {
                    color: #fff;
                }

                &-line {
                    height: 2px;
                    border: 1.5px dashed #fff;
                    width: 100%;
                    opacity: 32%;

                    @media #{$xl,$lg,$md,$xs} {
                        display: none;
                    }
                }
            }

            .number-x-line {
                display: flex;
                align-items: center;
                gap: 16px;
                max-width: 405px;
                width: 100%;

                @media #{$xl,$lg,$md,$xs} {
                    max-width: min-content;
                }
            }


            .item-right {
                display: flex;
                align-items: center;
                width: 100%;
            }

            .icon-elm {
                width: 92px;
                height: 92px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.06);
                border-width: 1px 0px 1px 1px;
                border-style: solid;
                border-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(6px);
                border-radius: 16px;
                position: relative;
                z-index: 1;
                flex: 0 0 auto;
                transition: var(--xr-cube-1);

                @media #{$xl,$lg,$md} {
                    width: 62px;
                    height: 62px;
                    padding: 10px;
                
                }

                @media #{$xs} {
                    width: 62px;
                    height: 62px;
                    padding: 10px;
                    display: none;
                }

                @media #{$sm} {
                    width: 62px;
                    height: 62px;
                    padding: 10px;
                    display: flex;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 28px;
                    left: 4px;
                    width: 75.27px;
                    height: 22.58px;
                    background: #FFFFFF;
                    opacity: 0.72;
                    filter: blur(13.5px);
                    transform: rotate(28.32deg);
                    z-index: -1;
                }
            }

            .title-elm {
                background: rgba(255, 255, 255, 0.06);
                border-width: 1px 1px 1px 0px;
                border-style: solid;
                border-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(6px);
                border-radius: 16px;
                display: flex;
                align-items: center;
                font-size: 36px;
                color: #fff;
                padding: 22px 40px;
                padding-right: 25px;
                gap: 10px;
                width: 100%;
                justify-content: space-between;
                transition: var(--xr-cube-1);

                i {
                    opacity: 48%;
                }


                @media #{$xl,$lg,$md,$xs} {
                    padding: 22px 20px;
                    padding-right: 16px;
                    font-size: 22px;
                }
            }


            &:is(:not(.collapsed)) {
                .icon-elm {
                    background-color: var(--xr-clr-pr-1);
                    border-color: #fff;
                }
                .title-elm {
                    background-color: var(--xr-clr-pr-1);
                    border-color: #fff;

                    i {
                        opacity: 1;
                    }
                }
            }

            &:is(.collapsed) {

            }
        }


        &-disc {
            display: flex;
            align-items: center;
            gap: 182px;
            padding: 60px 0;
            padding-left: 130px;

            @media #{$xl,$lg} {
                gap: 100px;
            }

            @media #{$md,$xs} {
                padding: 80px 20px;
                flex-wrap: wrap;
                gap: 40px;
                overflow: hidden;
            }

            .folder {
                width: 286px;
                height: 230px;
                position: relative;
                z-index: 1;
                flex: 0 0 auto;
                perspective: 2000px;
                transform-style: preserve-3d;

                @media #{$md,$xs} {
                    margin: 0 auto;
                }

                &-part-1 {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 2;
                    transform: rotateX(-0deg);
                    transform-origin: bottom;
                    transition: var(--xr-cube-1);
                }
                

                &-img-1 {
                    position: absolute;
                    width: 200px;
                    height: 144px;
                    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.52);
                    border-radius: 16px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(.4);
                    z-index: 1;
                    transition: var(--xr-cube-1);
                }

                &-img-2 {
                    position: absolute;
                    width: 200px;
                    height: 144px;
                    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.52);
                    border-radius: 16px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(.4);
                    z-index: 1;
                    transition: var(--xr-cube-1);
                }

                &-img-3 {
                    position: absolute;
                    width: 200px;
                    height: 144px;
                    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.52);
                    border-radius: 16px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(.4);
                    z-index: 1;
                    transition: var(--xr-cube-1);
                }
            }


            .disc-elm {
                color: #fff;
                max-width: 770px;
                opacity: 80%;
                margin-bottom: 50px;
            }
            
            .services-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px 30px;
                max-width: 530px;

                @media #{$xs} {
                    grid-template-columns: 1fr ;
                }

                @media #{$sm} {
                    grid-template-columns: 1fr 1fr;
                }

                li {
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: -0.02em;
                    color: #fff;
                    padding-left: 12px;
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        width: 4px;
                        height: 4px;
                        background-color: var(--xr-clr-pr-1);
                        border-radius: 50%;
                        position: absolute;
                        top: 9px;
                        left: 0;
                    }
                }
            }
        }
        

        .accordion-collapse {
            &:is(.show) {
                .folder-part-1 {
                    transform: rotateX(-62deg);
                }

                .folder-img-1 {
                    transform: translate(-105%, -103%) scale(1) rotate(-20deg);
                }

                .folder-img-2 {
                    transform: translate(-49%, -86%) scale(1) rotate(-6deg);
                }

                .folder-img-3 {
                    transform: translate(-5%, -110%) scale(1) rotate(16deg);
                }
            }
        }

        &:is(.active) {
            backdrop-filter: blur(40px);
        }
    }
}


.xr-services-1 {
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;

        &-disc {
            max-width: 636px;
            color: #fff;
            opacity: 80%;
        }
    }
    &-author {
        display: flex;
        gap: 25px;
        max-width: 520px;
        align-items: center;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
        }

        .author {
            &-left {
                padding: 0 34px;

                .leaf-img-1 {
                    position: absolute;
                    bottom: -15px;
                    left: 0;

                    img {
                        animation: h1partnerLeaf 3s linear infinite;    
                        animation-delay: 2s;
                    }
                }
    
                .leaf-img-2 {
                    position: absolute;
                    right: 0;
                    bottom: -15px;

                    img {
                        animation: h1partnerLeaf 3s linear infinite;    
                    }
                }
            }


        }
        
        .author-img {
            display: flex;

            &-single {
                width: 54px;
                height: 54px;
                border-radius: 50%;
                border: 2px solid #000;
                transition: var(--xr-cube-1);

                &:not(:first-child) {
                    margin-left: -15px;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .title {
            color: #fff;
            font-size: 20px;
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 4px;

            .rating {
                color: var(--xr-clr-pr-1);
                font-size: 15px;
                display: flex;
                gap: 2px;
            }
        }

        .disc {
            color: #fff;
            font-size: 15px;
            opacity: 80%;
        }
    }
}


/* 
    services-1-end
*/

/* 
    services-2-start
*/
.xr-services-2 {
    &-bg-line {
        width: 100%;
        height: 3px;
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 62.02%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.48;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    &-bg-clr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &-sec-title {
        text-align: center;
        font-size: 280px;
        font-family: var(--xr-font-3);
        letter-spacing: 6%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.256) 0%, rgba(255, 255, 255, 0) 73%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.14);


        @media #{$xl} {
            font-size: 200px;
        }


        @media #{$lg} {
            font-size: 170px;
        }

        @media #{$md} {
            font-size: 150px;
        }

        @media #{$xs} {
            font-size: 80px;
        }

        @media #{$sm} {
            font-size: 120px;
        }
    }

    &-item {
        display: grid;
        gap: 16px;
        margin-top: -120px;
        
        @media #{$md,$xs} {
            margin-top: 0px;
        }

        &-single {
            display: flex;
            align-items: center;
            gap: 45px;
            position: relative;
            z-index: 1;
            padding: 12px 0;

            @media #{$xxl,$xl,$lg} {
                gap: 25px;
            }

            @media #{$md,$xs} {
                gap: 25px;
                flex-wrap: wrap;
                padding: 12px;
            }

            &::after {
                content: "";
                width: calc(100% - 280px);
                height: 100%;
                position: absolute;
                right: 55px;
                top: 0;
                background: #212121;
                border-radius: 16px;
                z-index: -2;
                transition: .4s var(--xr-cube-2);


                @media #{$xl,$lg,$md,$xs} {
                    width: 100%;
                    right: 0;
                }
            }

            .bg-clr {
                width: calc(100% - 280px);
                height: 100%;
                position: absolute;
                right: 55px;
                top: 0;
                background-color: #FFDD5E;
                border-radius: 16px;
                z-index: -1;
                opacity: 0;
                transition: .4s var(--xr-cube-2);

                @media #{$xl,$lg,$md,$xs} {
                    width: 100%;
                    right: 0;
                }
            }

            .item-img {
                width: 100%;
                max-width: 335px;
                border-radius: 100px 0 0 100px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    max-width: 200px;
                }
            }

            .title {
                width: 100%;
                max-width: 210px;
                font-size: 40px;
                letter-spacing: 0;
                margin-bottom: -8px;
                transition: var(--xr-cube-1);

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 30px;
                }
            }

            .dvr-line {
                height: 120px;
                background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #212121 100%);
                width: 2px;
                transition: .4s var(--xr-cube-2);
            }

            .disc {
                max-width: 635px;
                transition: .4s var(--xr-cube-2);
            }

            .item-btn {
                width: 124px;
                height: 76px;
                background: #2f2f2f;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 24px;
                border-radius: 0 100px 100px 0;
                margin-left: auto;
                transition: .4s var(--xr-cube-2);
                flex: 0 0 auto;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    width: 100px;
                }

                &:hover {
                    background-color: var(--xr-clr-sd-3);
                    box-shadow: 10px 12px 32px rgba(255, 221, 94, 0.28);
                }
            }

            &:hover {
                &::after {
                    opacity: 0;
                }

                .bg-clr {
                    opacity: 1;
                }

                .dvr-line {
                    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(33, 33, 33, 0) 100%);
                }
                .disc {
                    color: #000;
                }
                .title {
                    color: #000;

                    &:hover {
                        color: var(--xr-clr-sd-3);
                    }
                }
            }

        }
    }

    &-btn-wrap {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
        align-items: center;
    }

    &-hire-btn {
        .text {
            background: #212121;
            border: 1px solid rgba(255, 255, 255, 0.32);
            color: var(--xr-clr-sd-3);
        }

        &:hover {
            .text {
                background-color: var(--xr-clr-sd-3);
                border-color: transparent;
                color: var(--xr-clr-pr-3);
            }
        }
    }
}
/* 
    services-2-end
*/