/* 
    showcase-2-start
*/
.xr-showcase-2 {
    &-container {
        overflow: hidden;

        @media #{$over} {
            margin-left: -140px;
            margin-right: -140px;
        }
    }

    &-sec-title {
        font-family: var(--xr-font-3);
        color: #fff;
        font-weight: 700;
        letter-spacing: 4%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.256) 0%, rgba(255, 255, 255, 0) 73%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.14);
        text-align: center;
        font-size: 223px;
        margin-bottom: -82px;


        @media #{$xxxl} {
            font-size: 180px;
        }

        @media #{$xxl} {
            font-size: 140px;
            margin-bottom: -10px;
        }


        @media #{$xl} {
            font-size: 120px;
            margin-bottom: -10px;
        }

        @media #{$lg} {
            font-size: 100px;
            margin-bottom: -10px;
        }

        @media #{$md} {
            font-size: 80px;
            margin-bottom: -10px;
        }

        @media #{$xs} {
            font-size: 40px;
            margin-bottom: -10px;
        }

        @media #{$sm} {
            font-size:60px;
            margin-bottom: -10px;
        }
    }

    &-wrap {
        background-color: #2B2B2B;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
        gap: 28px;
        height: var(--wrap-height);
        --wrap-height: 1100px;
        opacity: 82%;

        @media #{$xxl,$xl,$lg} {
            --wrap-height: 800px;
        }

        @media #{$md} {
            --wrap-height: 500px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr 1fr;
            --wrap-height: 500px;
        }

        .elm-col {
            display: flex;
            flex-direction: column;
            gap: 28px;

            &:first-child {
                margin-left: -100px;

                @media #{$xs} {
                    margin-left: 0px;
                }
            }
            
            &:last-child {
                margin-right: -100px;

                @media #{$xs} {
                    display: none;
                }
            }

            &:nth-child(3) {
                @media #{$xs} {
                    display: none;
                }

            } 
            &:is(.has-down-marquee) {
                justify-content: end;
                height: var(--wrap-height);
            }
        }
    }

    &-ss {
        display: flex;
        flex-direction: column;
        gap: 28px;


        &-single {
            height: 360px;

            @media #{$xxl} {
                height: 300px;
            }

            @media #{$xl,$lg} {
                height: 200px;
            }

            @media #{$md,$xs} {
                height: 150px;
            }
        }
    }
}




/* 
    showcase-2-end
*/

/* 
    showcase-3-start
*/
.xr-showcase-3 {
    &-area {
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$lg,$md,$xs} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
    &-img {
        position: relative;
        width: 1200px;
        height: 1200px;
        margin-left: auto;
        margin-right: auto;

        @media #{$xl} {
            width: 950px;
            height: 950px;
        }

        @media #{$lg,$md,$xs} {
            width: 100%;
            height: auto;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &-img-single {
        width: 232px;
        height: 232px;
        border-radius: 32px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        @media #{$lg,$md,$xs} {
            position: unset;
            transform: unset;
        }
    }

    &-content-posi {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            position: unset;
        }
    }

    &-content {
        text-align: center;
        width: 100%;
        max-width: 500px;

        .number {
            font-size: 132px;
            font-weight: 800;
            letter-spacing: -0.02em;
            background: linear-gradient(276.42deg, #EF31BF 26.9%, rgba(39, 84, 233, 0.1) 82.95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            transform: rotate(-20.41deg) translateY(40px);
            display: inline-block;
        }

        .sec-title {
            font-size: 80px;
            color: #000;
            letter-spacing: -2%;
            margin-bottom: 30px;
            position: relative;
            z-index: 1;


            @media #{$lg} {
                font-size: 70px;
            }
        
            @media #{$md} {
                font-size: 60px;
            }
        
            @media #{$xs} {
                font-size: 40px;
            }
        
            @media #{$sm} {
                font-size: 50px;
            }
        }

        .xr-pr-btn-3 {
            border: 2px solid #000;
            background: transparent;
            color: #000;

            .icon {
                background: linear-gradient(214.38deg, #000000 13.42%, #000000 44.64%, #434FE3 94.86%);
                
                i {
                    -webkit-text-fill-color: #fff;
                }
            }
        }
    }
    
}











  
  
/* 
    showcase-3-end
*/