/* 
    home-css-start
*/

.xr-home-1 {
    background-color: #ECECEC;
}

.xr-home-2 {
    background-color: #000;
}

.xr-home-3 {
    background-color: #ECECEC;
}
.sk-home-2 {
    background-color: var(--sk-clr-white-1);

    @media #{$over,$xxxl,$xxl} {
        &::-webkit-scrollbar-thumb {
            background: var(--sk-clr-pr-2);
        }
    }
}

/* 
    home-css-end
*/